<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nightlifeApp | Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">

  </head>

  <body data-userid="<%= user.facebookID %>" data-locationdb="<%= locationdb %>">

    <div class="container mt-5">
      <a href="/" id="title"><h1 class="text-white display-4 text-center"><i class="fa fa-glass" aria-hidden="true"></i> nightlifeApp</h1>
      <p class="text-white text-center lead">Find fun near you!</p></a>
      <% if (error) { %>
        <div id="errorContainer" class="offset-md-4 col-md-4">
          <div class="alert alert-danger text-center" role="alert">
            <%= error %>
          </div>
        </div>
      <% } %>
      <form method="GET" action="/" class="mt-5">
        <div class="input-group offset-md-2 col-md-8">
          <input id="location" name="location" type="text" class="form-control" placeholder="e.g. Boston"
          <% if (location) { %>
            value="<%= location %>"
          <% } %>
          >
          <span class="input-group-btn">
            <button class="btn btn-outline-warning" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
          </span>
        </div>
      </form>
      <br />

      <% if (bars) { %>
        <% for (let i = 0; i < 5; i++) { %>
          <div class="row">

            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top img-fluid" src="<%= bars[i * 4].image_url %>" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title"><%= bars[i * 4].name %></h4>
                  <a href="<%= bars[i * 4].url %>" target="_blank">Read More</a>
                  <br />
                  <br />
                  <button class="btn btn-primary goingButton" data-locationid="<%= bars[i * 4].id %>">
                  <% if (locationdb) { %>
                    <% for (var j = 0; j < locationdb.length; j++) { %>
                      <% if (bars[i * 4].id === locationdb[j].locationID) { %>
                        <% var switch0 = true %>
                        <%= locationdb[j].count + ' Going' %>
                      <% } %>
                    <% } %>
                    <% if (!switch0) { %>
                      <%= '0 Going' %>
                    <% } %>
                  <% } else { %>
                    <%= '0 Going' %>
                  <% } %>
                  </button>
                </div>
              </div>
              <br />
            </div>

            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top img-fluid" src="<%= bars[i * 4 + 1].image_url %>" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title"><%= bars[i * 4 + 1].name %></h4>
                  <a href="<%= bars[i * 4 + 1].url %>" target="_blank">Read More</a>
                  <br />
                  <br />
                  <button class="btn btn-primary goingButton" data-locationid="<%= bars[i * 4 + 1].id %>">
                  <% if (locationdb) { %>
                    <% for (var a = 0; a < locationdb.length; a++) { %>
                      <% if (bars[i * 4 + 1].id === locationdb[a].locationID) { %>
                        <% var switch1 = true %>
                        <%= locationdb[a].count + ' Going' %>
                      <% } %>
                    <% } %>
                    <% if (!switch1) { %>
                      <%= '0 Going' %>
                    <% } %>
                  <% } else { %>
                    <%= '0 Going' %>
                  <% } %>
                  </button>
                </div>
              </div>
              <br />
            </div>

            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top img-fluid" src="<%= bars[i * 4 + 2].image_url %>" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title"><%= bars[i * 4 + 2].name %></h4>
                  <a href="<%= bars[i * 4 + 2].url %>" target="_blank">Read More</a>
                  <br />
                  <br />
                  <button class="btn btn-primary goingButton" data-locationid="<%= bars[i * 4 + 2].id %>">
                  <% if (locationdb) { %>
                    <% for (var c = 0; c < locationdb.length; c++) { %>
                      <% if (bars[i * 4 + 2].id === locationdb[c].locationID) { %>
                        <% var switch2 = true %>
                        <%= locationdb[c].count + ' Going' %>
                      <% } %>
                    <% } %>
                    <% if (!switch2) { %>
                      <%= '0 Going' %>
                    <% } %>
                  <% } else { %>
                    <%= '0 Going' %>
                  <% } %>
                  </button>
                </div>
              </div>
              <br />
            </div>

            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top img-fluid" src="<%= bars[i * 4 + 3].image_url %>" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title"><%= bars[i * 4 + 3].name %></h4>
                  <a href="<%= bars[i * 4 + 3].url %>" target="_blank">Read More</a>
                  <br />
                  <br />
                  <button class="btn btn-primary goingButton" data-locationid="<%= bars[i * 4 + 3].id %>">
                  <% if (locationdb) { %>
                    <% for (var d = 0; d < locationdb.length; d++) { %>
                      <% if (bars[i * 4 + 3].id === locationdb[d].locationID) { %>
                        <% var switch3 = true %>
                        <%= locationdb[d].count + ' Going' %>
                      <% } %>
                    <% } %>
                    <% if (!switch3) { %>
                      <%= '0 Going' %>
                    <% } %>
                  <% } else { %>
                    <%= '0 Going' %>
                  <% } %>
                  </button>
                </div>
              </div>
              <br />
            </div>
          </div>
        <% } %>
      <% } %>
    </div>

    <footer class="footer bg-inverse">
      <div class="container d-flex">
        <span class="text-muted">Powered by Yelp.</span>
        <span class="text-muted ml-auto">© 2017 Panagiotis Zisis</span>
      </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/load.js"></script>

  </body>
</html>